@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    font-family: Roboto, monospace;
}

main button:hover {
    opacity: 90%;
}

main button:active {
    opacity: 0.7;
}